#scene-home{
    padding-left: 4rem;
    width: 100vw;
    height: 100vh;
}
#scene-home #trailer{
    position: absolute;
    top: 0;
    right: 0;
    height: 55vh;
    z-index: 1;
}
#scene-home #trailer>div{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: inset 28px -22px 16px #151921;
}
#scene-home #trailer img{
    height: 100%;
    
}
#scene-home #snippet-home-list{
    transition: .3s;
    position: absolute;
    top: 55vh;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
}
#scene-home #snippet-home-list ul{
    transition: .3s;
    padding: 0.25rem 0 0;
    display: inline-flex;
    margin: 0;
}
#scene-home #snippet-home-list li{
    width: 300px;
    margin: 0 .1rem ;
}
#scene-home #snippet-home-list ul .focus{
    border: 2px solid white;
}
#scene-home #snippet-home-list img{
    width: 100%;
    height: 100%;
}
#scene-home #snippet-home-list .items{
    width: calc( 100% - 4rem)  ;
    margin-bottom: 1.25rem;
}
#scene-home .header{
    background-color: #151921;
    position: absolute;
    top: 0;
    left: 4rem;
    width: calc(100% - 4rem);
    height: 55%;
    z-index: 1;
}