
*{
	font-family: 'poppins';
}
body, p, div, span, h1, h2, h3, h4, h5, ul, li, html, body {
	color: white;
	margin: 0;
	padding: 0;	
}
ul {
	list-style: none;
}
ul li {
	float: left;
}

a {
	border: 0;
	outline: none !important;
	text-decoration: none;
	color: #FFF;
}

body {
	background-color: #151921 !important;
	font-family: arial;
	font-size: 18px;
	color: var(--bs-light);
	overflow: hidden;
}

/* global objects */
.focusable {
	cursor: pointer;
}

/* notification object */
#notifications {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
}

#notifications .msg {
	padding: 20px;
	color: #fff;
	text-align: left;
	background: rgba(0, 0, 0, 0.7);
	margin-bottom: 2px;
	font-size: 22px;
}
.scene{
	width: 100vw;
	height: 100vh;
}
#scene-splash{
	display: flex;
	justify-content: center;
	align-items: center;
}
.player{
	display: none;
}
.main.show{
	display: block;
}
.modal .back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(19, 20, 22);
	opacity: 0.7;
}
#trailer{
    position: absolute;
    top: 0;
    right: 0;
    height: 58vh;
    z-index: 1;
}
#trailer>div{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow:inset 67px -40px 40px rgba(21,25,33, 0.9);
}
 #trailer img, #trailer iframe{
    height: 100%;
	border-radius: 0 0 0 0.75rem;
}
#trailer iframe{width: 741px;display: none;}
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
    position: absolute;
    top: 0;
    left: 4rem;
    width: calc(100% - 4rem);
    height: 50%;
}
.header .underHeader{
	margin: 0.25rem 0;
}
.header #filmDescription{
	text-align: justify;
    max-width: 44%;
	z-index: 11;
}
#snippet-movie-list ,#snippet-serie-list {
	transition: .3s;
	position: fixed;
	top: 50vh;
	width: calc( 100vw - 4rem);
	margin-left: 4rem;
	margin-bottom: 1.25rem;
	z-index: 1;
}
#snippet-movie-list .items,#snippet-serie-list .items{
	margin-bottom: 1rem;
	transition: .3s;
}
#snippet-movie-list .items ul,#snippet-serie-list .items ul{
	transition: .3s;
    padding: 0.25rem 0 0;
    display: inline-flex;
    margin: 0;
}
#snippet-movie-list .item img  ,#snippet-serie-list  .item img{
	height: 100%;
	width: 100%;
}
#snippet-movie-list .item  ,#snippet-serie-list  .item{
	width: 150px;
	height: 200px;
	margin-right: 0.5rem ;
}
#snippet-serie-list ul .focus,#snippet-movie-list ul .focus{
    border: 2px solid white;
}
#snippet-movie-details , #snippet-serie-details{
	top: 50%;
	left: 4rem;
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 2;
}
#snippet-movie-details .active, #snippet-serie-details .active{
	background: white;
    color: #151921;
    font-weight: 600;
}
#snippet-movie-details button:first-of-type, #snippet-serie-details button:first-of-type{
	margin-top: 1rem;
}
#snippet-movie-details button , #snippet-serie-details button{
	display: flex;
	color: white;
}
#snippet-movie-details button i, #snippet-serie-details button i{
	margin-right:  1rem ;
}
#snippet-movie-details .focus, #snippet-serie-details .focus{
	border:2px solid white;
}
#snippet-movie-details label, #snippet-serie-details label{
	color: rgb(207, 207, 207);
	margin-bottom: .25rem;
	font-size: 14px;
}