.underHeader{
    display: flex;
    align-items: center;
}
.underHeader span{
    margin-right: 0.5rem;
}
.underHeader span:last-child{
    border: 1px solid white; 
    border-radius: 5px; 
    padding: 0 2px;
    font-weight: 600;
    font-size: 14px;
}
div.shadow{
    position: absolute;
    background-color: rgba( 21, 25, 33,0.4);
    box-shadow: 0 0 75px 100px rgba(21,25,33,0.4) !important;
    width: 37%;
    height: 60vh;
    left: 6rem;
    top: 6rem;
    z-index: 1;
}