#snippet-player {
    transition: .3s;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    opacity: 0;
}

.player {
    position: absolute;
    display: none;
    opacity: 0;
    transition: all 1s, opacity 0.1s;
    z-index: 10000000;
    right: 0 !important;
    height: 58vh ;
    width: 58vw;
    top: 0  !important;
    left: unset  !important;
    background-color: black;
}

#snippet-player #top-controles {
    position: fixed;
    height: 65px;
    color: white;
    z-index: 0;
    top: 0px;
    transition: 0.3s;
    margin-left: 100px;
    margin-top: 40px;
    font-size: x-large !important;
}
#snippet-player .top {
    margin-right: 20px;
}
#snippet-player #vid-Title {
    transition: .3s;
    font-size: x-large;
    position: fixed;
    top: 40px;
    right: 140px;
    padding-right: 10px;
    border-right: 3px red solid;
}

#snippet-player #bottom-controles {
    position: fixed;
    width: 100vw;
    height: 65px;
    color: white;
    z-index: 0;
    bottom: 0px;
    transition: 0.3s;
    font-size: large;
}

#snippet-player #bottom-elements {
    margin: auto;
    max-width: 1000px;
    width: 80%;
    align-items: center;
}
#snippet-player #controles{transition: .3s;}
#snippet-player #controles .focus {
    color: red;
}

#snippet-player .progress-bar {
    height: 4px;
    margin-bottom: 5px;
    background-color: white !important;
    display: inline-block;
    width: 80%;
}
#snippet-player #real-time {
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: red !important;
}

#snippet-player #real-time::after{
    content: '';
    top: -4px;
    right: -7px;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: red;
}

#snippet-player .down {
    margin-right: 5px;
    position: relative;
}
#snippet-player #backward,
#snippet-player #play-pause,
#snippet-player #back,
#snippet-player #next,
#snippet-player #reply,
#snippet-player #cc {
    cursor: pointer;
}

#snippet-player #audio-cc-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#snippet-player #Audios,
#CCs {
    flex-wrap: inherit;
    text-align: center;
}
#snippet-player .type-name {
    text-align: center !important;
    background-color: white;
    color: black;
}

#snippet-player .audioEl,
.ccEl {
    display: block;
}
#snippet-player #audio-cc-list .focus {
    border: 1px solid white;
    border-width: 100%;
}
#snippet-player #controles::after,#snippet-player #controles::before{
    transition: .3s;
    position: absolute;
    content: '';
    width: 100%;
    box-shadow: 0 0 68px 73px black;
    z-index: -1;
}
#snippet-player #controles::after{bottom: 0;}