#scene-search #search-Bar {
    width: 400px;
    height: 100%;
    background-color: rgba(38, 45, 59, 0.85);
    padding: 2rem .5rem .5rem 4rem;
}

#scene-search #search-Bar input , #scene-search #search-Bar select{
    font-size: large;
    margin-bottom: .55rem;
}

.line {
    margin-bottom: 3px !important;
}
