#scene-watch-later{
    margin-left: 4rem;
    width: calc(100vw - 4rem);
}
#scene-watch-later h3{ 
    margin-top: 1.5rem;
}
#scene-watch-later .noItem{
    top: 0;
    left: 0cm;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#scene-watch-later .noItem .btn{
    color: white;
}
#scene-watch-later  .focus{
    font-weight: 600;
    border : 3px solid white;
}
#scene-watch-later .row{
    margin: 20px 0;
    --bs-gutter-x: 0; 
}
#scene-watch-later .row .focusable{
    width: 200px;
    margin-left: 15px;
    margin-bottom: 15px;
}
#scene-watch-later .row .focusable img{
    width: 100%;
    height: 100%;
}